</main>
   <footer class="footer text-center" >
    <div class="container">
      <span class="text-muted">It is Mr.Abeed's daily journal.&copy; 2022-2023</span>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="script/blog.js"></script>
</body>
</html>

