<%- include("partials/header") -%>
<div class="about-me">
  <h1>About Me</h1>
  <ul>
    <li>
      Btech student at IIT Bhubaneswar in Computer Science and Engineering
      department with a CGPA of 8.94.
    </li>
    <li>
      Competitive programmer, expert at Codeforces and 5 star at Code Chef.
    </li>
    <li>
      Interested in Algorithms, parallel programming, computer architecture.
    </li>
    <li>Currently exploring Machine Learning Algorithms.</li>
  </ul>

  <div class="social-links">
    <a href="https://codeforces.com/profile/AbeedShaik" target="_blank">
      <i class="fas fa-code"></i> Codeforces
    </a>
    <a href="https://www.codechef.com/users/abeed_170" target="_blank">
      <i class="fas fa-code"></i> CodeChef
    </a>
    <a
      href="https://www.linkedin.com/in/abeed-shaik-805a92220/"
      target="_blank"
    >
      <i class="fab fa-linkedin"></i> LinkedIn
    </a>
    <a href="https://github.com/AbeedShaikM" target="_blank">
      <i class="fab fa-github"></i> GitHub
    </a>
  </div>
</div>
<%- include("partials/footer") -%>
